
body {
    background-color: #eef1f6;
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.bg-dark {
    background-color: #21211f !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.form-control {
    background-color: #f3f3f3;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(228, 228, 228);
    border: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-group {
    color: #fff;
}

.btn-toolbar {
    margin-bottom: 10px;
}

.actions .btn {
    margin: 8px 8px 14px 0px;
}

.nav-tabs {
    margin-bottom: 12px;
}

.breadcrumb {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 11px;
    background: #fff;
}

.tab-pane h2, .actions {
    margin-left: 12px;
}

.options, .hidden {
    display: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

.per-page-container {
    margin-bottom: 16px;
}

.table-sm th, .table-sm td {
    padding: 6px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


#sidebar {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar ul.components > li a > i {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 23px;
    margin-right: 5px;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #272725 !important;
}

#sidebar, #sidebar .sidebar-header, #sidebar ul li.active>a, a[aria-expanded="true"] {
    background: #21211f !important;
}

#sidebar ul li a:hover {
    background: #13130e !important;
    color: #fff !important;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    text-transform: uppercase;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 16px 10px 8px 15px;
    font-size: 11px !important;
    display: block;
    color: #b5b0aa;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.per-page-container h4 {
    display: inline-block;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: #e8e8e8;
}

.card {
    padding: 23px;
    box-shadow: 11px 14px 36px 1px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
}

.card .card-header {
    padding: 20px 0px 0px;
    position: relative;
    border-radius: 3px 3px 0 0;
    z-index: 3;
    background: #fff;
    margin-bottom: 10px;
}

.card .card-title {
    color: #252422;
    font-weight: 300;
}

.page {
    padding: 24px;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }
}

/* Dashboard styles */
.dashboard {

}

.dashboard-quick-links {
    padding: 0;
}

.dashboard-quick-links li {
    float: left;
    list-style: none;
    margin-right: 12px;
    width: 103px;
    height: 131px;
    text-align: center;
}

.dashboard-quick-links li a {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-quick-links li a i {
    display: block;
    font-size: 57px;
    margin-bottom: 8px;
}

.login-icon {
    height: 70px;
    width: 70px;
    font-size:40px;
}