
body {
	margin:0 auto;
}

header {
	height:25px;
}

article {
	padding: 40px 15px;
	background: #fffefe;
	width:925px;
	padding: 25px 50px;
	display: block;
	float: right;
}

nav {
	width: 277px;
	height: 100%;
	padding: 45px 0;
	display: block;
	float: left;
}


li.active {
	/*font-weight: bold;*/
}

